/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
}

.bp-bg-bricks {
    background-image: url(assets/images/bricks.webp);
    background-repeat: repeat;
}

.bd-custom-node-image {
    background-color: transparent;
    width: var(--bd-bg-width);
    height: 54px;
    background-repeat: no-repeat;
    background-image: var(--bd-bg-image);
    background-size: cover;
    position: absolute;
    top: -30px;
    left: -108px;
    border-radius: 10px;
    border: 2px solid #303030;
    color: white;
}

.bd-custom-node-text {
    background-color: transparent;
    width: 200px;
    height: 60px;
    position: absolute;
    top: -38px;
    left: -40px;
    border-radius: 10px;
    color: white;
    font-family:'Courier New', Courier, monospace
}

.bd-custom-node-text > p {
    font-size: 10px;
    margin-bottom: 0px;
    color: #b6b6b6;
}

.bd-custom-node-text > h1 {
    font-size: 14px;
    margin-top: 5px;
}