/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
}

.bp-bg-bricks {
    background-image: url(assets/images/bricks.webp);
    background-repeat: repeat;
}

.bp-node-label {
    font-size: 50px;
    color: lightcoral;
    background-color: lightblue;
    width: 15px;
    width: 15px;
}